<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Visual_DM Rules" Description="Ruleset for StyleCop, Roslyn, and Sonar analyzers" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1502" Action="Warning" /> <!-- Element must not be on a single line -->
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CA1502" Action="Warning" /> <!-- Avoid excessive complexity -->
    <Rule Id="CA1505" Action="Warning" /> <!-- Avoid excessive coupling of classes -->
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1200" Action="Warning" /> <!-- Avoid too deep inheritance -->
  </Rules>
</RuleSet> 